<%- include('../includes/head.ejs')%>


<%- include('../includes/nav.ejs')%>

<main class="main">
    <form class="product-form" action="/admin/<%= editMode ? 'edit' : 'add'%>-product" method="post">
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="<%= editMode ? prod.title : ''%>" />
        </div>
        <div class="form-control">
            <% if (editMode) {%>
                <img class="card__image" src="<%= prod.imageUrl%>" alt="<%= prod.title%>">
            <% } %>
            <label for="imageUrl">Image URL</label>
            <input type="text" name="imageUrl" id="imageUrl" value="<%= editMode ? prod.imageUrl : ''%>" />
        </div>
        <div class="form-control">
            <label for="price">Price</label>
            <input type="number" name="price" id="price" step="0.01" value="<%= editMode ? prod.price : ''%>" />
        </div>
        <div class="form-control">
            <label for="description">Description</label>
            <textarea name="description" id="description" cols="10" rows="5" ><%= editMode ? prod.description : ''%></textarea>
        </div>
        <%if (editMode) {%>
            <input type="hidden" name="productId" value="<%=prod._id %>">
        <% } %>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="btn" type="submit"><%= editMode ? 'Update ' : 'Add '%>product</button>
    </form>
</main>
<%- include('../includes/end.ejs')%>

