<%- include('../includes/head.ejs')%>
<%- include('../includes/nav.ejs')%>
<main>
    <ul class="cart__item-list">
        <% products.forEach(prod => { %>
            <li class="cart__item">
                <p><%= prod.productId.title %> - (<%= prod.quantity %>)</p>
                <form action="/cart-delete-item" method="post">
                    <input type="hidden" name="productId" value="<%= prod.productId._id %>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn danger">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>
    <div class="centered">
        <h2>Total Sum: <%= totalSum %></h2>
    </div>
    <div class="centered">
        <button type="button" id="order-btn" class="btn">Order</button>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
            const stripe = Stripe('pk_test_51H6HxzLoWlvI0CNwpDGQcon1xv8fkqdchC3mKZoSYAbfjl6UqbmMrMuMuNjQlbB9wMTFQtTAFKsgNKy8Z0POVNbC00NYeNrnA9');
            let orderBtn = document.getElementById('order-btn');

            orderBtn.addEventListener('click', () => {
              stripe.redirectToCheckout({
                sessionId: '<%= sessionId %>'
              })
            })
        </script>
    </div>
</main>
<%- include('../includes/end.ejs')%>